### Rafidah Shafa Ariza Ramadhan
### 202131139
### B Machine Learning

## IMPORT LIBRARY

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## IMPORT DATA

In [2]:
data = pd.read_csv('iris.csv')
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [4]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [5]:
data=data.drop('Id',axis=1)

## MENGUBAH OBJECT MENJADI NUMERIK

In [8]:
from sklearn.preprocessing import LabelEncoder
for col in ['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm','Species']:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])
    data
    print (data['SepalLengthCm'],data['SepalWidthCm'],data['PetalLengthCm'],data['PetalWidthCm'],data['Species'])

0       8
1       6
2       4
3       3
4       7
       ..
145    24
146    20
147    22
148    19
149    16
Name: SepalLengthCm, Length: 150, dtype: int64 0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: SepalWidthCm, Length: 150, dtype: float64 0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLengthCm, Length: 150, dtype: float64 0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: PetalWidthCm, Length: 150, dtype: float64 0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object
0       8
1       6
2       4
3       3
4       7
       ..
145    24
146    20
147    22
148    19
149    16
Name: SepalLengthCm, Length: 150, dtype: int64 0      14
1       9
2      11
3      10
4      15
       ..
145     9
146     4
147     9
148    13
149     9
Name: SepalWidthCm, Length: 150, dtype: int64 0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLengthCm, Length: 150, dtype: float64 0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: PetalWidthCm, Length: 150, dtype: float64 0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object
0       8
1       6
2       4
3       3
4       7
       ..
145    24
146    20
147    22
148    19
149    16
Name: SepalLengthCm, Length: 150, dtype: int64 0      14
1       9
2      11
3      10
4      15
       ..
145     9
146     4
147     9
148    13
149     9
Name: SepalWidthCm, Length: 150, dtype: int64 0       4
1       4
2       3
3       5
4       4
       ..
145    28
146    26
147    28
148    30
149    27
Name: PetalLengthCm, Length: 150, dtype: int64 0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: PetalWidthCm, Length: 150, dtype: float64 0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object
0       8
1       6
2       4
3       3
4       7
       ..
145    24
146    20
147    22
148    19
149    16
Name: SepalLengthCm, Length: 150, dtype: int64 0      14
1       9
2      11
3      10
4      15
       ..
145     9
146     4
147     9
148    13
149     9
Name: SepalWidthCm, Length: 150, dtype: int64 0       4
1       4
2       3
3       5
4       4
       ..
145    28
146    26
147    28
148    30
149    27
Name: PetalLengthCm, Length: 150, dtype: int64 0       1
1       1
2       1
3       1
4       1
       ..
145    19
146    15
147    16
148    19
149    14
Name: PetalWidthCm, Length: 150, dtype: int64 0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object
0       8
1       6
2       4
3       3
4       7
       ..
145    24
146    20
147    22
148    19
149    16
Name: SepalLengthCm, Length: 150, dtype: int64 0      14
1       9
2      11
3      10
4      15
       ..
145     9
146     4
147     9
148    13
149     9
Name: SepalWidthCm, Length: 150, dtype: int64 0       4
1       4
2       3
3       5
4       4
       ..
145    28
146    26
147    28
148    30
149    27
Name: PetalLengthCm, Length: 150, dtype: int64 0       1
1       1
2       1
3       1
4       1
       ..
145    19
146    15
147    16
148    19
149    14
Name: PetalWidthCm, Length: 150, dtype: int64 0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int64

In [9]:
data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0                8            14              4             1        0
1                6             9              4             1        0
2                4            11              3             1        0
3                3            10              5             1        0
4                7            15              4             1        0
..             ...           ...            ...           ...      ...
145             24             9             28            19        2
146             20             4             26            15        2
147             22             9             28            16        2
148             19            13             30            19        2
149             16             9             27            14        2

[150 rows x 5 columns]

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    int64
 1   SepalWidthCm   150 non-null    int64
 2   PetalLengthCm  150 non-null    int64
 3   PetalWidthCm   150 non-null    int64
 4   Species        150 non-null    int64
dtypes: int64(5)
memory usage: 6.0 KB

## DATA X DAN Y

In [11]:
x = data.drop('Species', axis = 1)
y = data['Species']

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state =0)

In [13]:
print (x_train)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
60               7             0             11             6
116             22             9             31            14
144             24            12             33            21
119             17             1             26            11
108             24             4             34            14
..             ...           ...            ...           ...
9                6            10              5             0
103             20             8             32            14
67              15             6             17             6
117             33            17             41            18
47               3            11              4             1

[105 rows x 4 columns]

In [14]:
print (x_test)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
114             15             7             27            20
62              17             1             16             6
33              12            21              4             1
107             30             8             38            14
7                7            13              5             1
100             20            12             36            21
40               7            14              3             2
86              24            10             23            11
76              25             7             24            10
71              18             7             16             9
134             18             5             32            10
51              21            11             21            11
73              18             7             23             8
54              22             7             22            11
63              18             8             23            10
37               6            10              5             0
78              17             8             21            11
90              12             5             20             8
45               5             9              4             2
16              11            18              3             3
121             13             7             25            16
66              13             9             21            11
24               5            13              8             1
8                1             8              4             1
126             19             7             24            14
22               3            15              0             1
44               8            17              8             3
97              19             8             19             9
93               7             2             10             6
26               7            13              6             3
137             21            10             31            14
84              11             9             21            11
27               9            14              5             1
127             18             9             25            14
132             21             7             32            18
59               9             6             15            10
18              14            17              7             2
83              17             6             27            12
61              16             9             18            11
92              15             5             16             8
112             25             9             31            17
2                4            11              3             1
141             26            10             27            19
43               7            14              6             5
10              11            16              5             1

In [15]:
print (y_test)

114    2
62     1
33     0
107    2
7      0
100    2
40     0
86     1
76     1
71     1
134    2
51     1
73     1
54     1
63     1
37     0
78     1
90     1
45     0
16     0
121    2
66     1
24     0
8      0
126    2
22     0
44     0
97     1
93     1
26     0
137    2
84     1
27     0
127    2
132    2
59     1
18     0
83     1
61     1
92     1
112    2
2      0
141    2
43     0
10     0
Name: Species, dtype: int64

## PEMODELAN
KNN

In [16]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 1)

In [17]:
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1)

In [18]:
print ("akurasi score sebenarnya: {}".format(knn.score(x_test, y_test)*100))

akurasi score sebenarnya: 97.77777777777777